{% extends "based/base.html" %}

{% block title %}Список кімнат{% endblock %}

{% block content %}
    <div class="container py-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="mb-0">Кімнати</h1>
            <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">На головну сторінку</a>
        </div>

        {% for room in rooms %}
        <div class="card mb-2 p-2">
            <h4>{{ room.name }}</h4>
            <p>{{ room.description }}</p>

        {% if room.avg_rating %}
            <p><strong>Середній рейтинг цієї кімнати:</strong> {{ room.avg_rating|floatformat:1 }}</p>
        {% else %}
            <p><strong>Середній рейтинг цієї кімнати:</strong> Поки немає оцінок</p>
        {% endif %}

        <a href="{% url 'book_room' room.id %}" class="btn btn-primary">Забронювати</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
