{% extends "based/base.html" %}

{% block title %}Список кімнат{% endblock %}

{% block content %}
    <h1>Кімнати</h1>
    <a href="{% url 'login' %}">Увійти</a> | <a href="{% url 'register' %}">Реєстрація</a> | <a href="{% url 'profile' %}">Профіль</a>
    {% for room in rooms %}
        <div class="card mb-2 p-2">
            <h4>{{ room.name }}</h4>
            <p>{{ room.description }}</p>
            <a href="{% url 'book_room' room.id %}" class="btn btn-primary">Забронювати</a>

        </div>
    {% endfor %}
{% endblock %}