{% extends "based/base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-primary border rounded shadow-sm mt-3">
    <div class="container-fluid px-4">
        <a class="navbar-brand fw-bold text-dark" href="{% url 'home' %}">🏨 Головна</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow p-4" style="width: 400px;">
        <h2 class="text-center mb-4">Увійти</h2>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3 text-center">
                <label for="id_username" class="form-label fw-bold">Username:</label>
                <input type="text" name="username" class="form-control text-center" id="id_username" required>
            </div>

            <div class="mb-4 text-center">
                <label for="id_password" class="form-label fw-bold">Password:</label>
                <input type="password" name="password" class="form-control text-center" id="id_password" required>
            </div>

            <div class="d-grid mb-2">
                <button type="submit" class="btn btn-primary">Увійти</button>
            </div>
            <p class="text-center mt-3">Не маєте акаунт? <a href="{% url 'register' %}">Зареєструватися</a></p>
        </form>
    </div>
</div>
{% endblock %}
